/*
!/.*
/.ICEauthority
/.Xauthority
/.android
/.cache
/.config/chromium
/.config/git/cookies
/.config/pulse
/.config/zsh/.zcompcache
/.config/zsh/.zcompdump
/.config/zsh/.zsh_history
/.gnupg/*
!/.gnupg/*.conf
/.local/share/keyrings
/.local/share/xorg
/.local/share/systemd
/.pki
/.ssh
/.vim/backup
/.vim/undo
/.vim/.netrwhist
/.viminfo*
/.wireshark
